<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774504252006-0pm9tq9g55dn7sdefcmaf9bi0a80or5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774504252006-0pm9tq9g55dn7sdefcmaf9bi0a80or5g</string>
	<key>API_KEY</key>
	<string>AIzaSyCrmMwVh2utIvQeDImI_PJGxa6j0IamnPs</string>
	<key>GCM_SENDER_ID</key>
	<string>774504252006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Amal.MySubscriptions</string>
	<key>PROJECT_ID</key>
	<string>mysubscriptionsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mysubscriptionsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774504252006:ios:1e26c7a86043ad76</string>
	<key>DATABASE_URL</key>
	<string>https://mysubscriptionsapp.firebaseio.com</string>
</dict>
</plist>